<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pult</title>
    <link href="bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <!-- NOTE: felső sav START -->
    <nav class="fixed-top navbar navbar-expand-sm bg-danger navbar-dark d-flex justify-content-around">
        <div>
            <form action="/" method="get">
                <button type="button" class="btn btn-success kilepes">Kilépés!</button>
            </form>
        </div>
        <div>
            <form action="/" method="get">
                <button type="submit" class="btn btn-secondary">LELTÁR 🤔 1366 pixel</button>
            </form>
        </div>
        <div>
            <form action="/" method="get">
                <button type="button" class="btn btn-warning kosarak">KOSARAK</button>
            </form>
        </div>
    </nav>
    <!-- NOTE: felső sav END -->

    <!-- @media NOTE: -->
    <div class="app_page1">
        <div class="row">
            <div class="col-sm-9" id="left""><!-- BUG: ball-->
                <div id=" termekdrop"></div>
            <div id="termek"></div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <h1>aaa</h1>
        </div>
        <div class="col-sm-3" id="right">
            <!-- BUG: jobb-->
            <div id="pultos">
                <div id="pult"></div>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <h1>www</h1>
        </div><!-- BUG: -->
    </div>
    <!-- @media NOTE: -->

    <div class="absolute">
        <button type="button" class="btn btn-primary mr-4 btn-lg">** Kp **</button>
        <button type="button" class="btn btn-primary mr-4 btn-lg">Kártya</button>
        <button type="button" class="btn btn-secondary mr-4 btn-lg">Hitel</button>
        <button type="button" class="btn btn-warning mr-4 btn-lg kosarBt"
            onclick="naTegyukEgyUjKosarba()">Kosárba</button>
    </div>

    <!-- NOTE: also sav START -->
    <div class="fixed-bottom bg-danger text-white p-2 ">
        <form action="/config" method="get">
            <div class="d-flex justify-content-between">
                <button type="button" class="btn btn-dark kpKivet">Kasszából kivét.</button>
                <p id="datum"></p>
                <p>Pultos: John Doe</p>

                <!-- <button type="submit" class="btn btn-dark">Kasszából kivét.</button> -->
                <span id="summa">Mindösszesen</span>
            </div>
        </form>
    </div>
    <!-- NOTE: also sav END -->

    <!-- NOTE: TOAST -->
    <div class="toast mt-3">
        <div class="toast-header">
            Üres kosár törlése
        </div>
        <div class="toast-body">
            Ezt most törlöm mert üres kosár!
        </div>
    </div>
    </div>

    <!-- The HACK: kosarakModal -->
    <div class="modal" id="kosarakModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Melyik kosár tartalmát töltsem vissza a pultra?</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div id="kosarakFelsorolasa"></div>
                </div>

                <!-- Modal footer -->
                <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div> -->

            </div>
        </div>
    </div>
    <!-- The HACK: kosarakModal -->

    <!-- The Modal -->
    <div class="modal" id="myModalKivet">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Beszállítók kifizetése.</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form action="/action_page.php">
                        <label for="kifName">Kinek:</label><br>
                        <input type="text" id="kifName" name="kifName"><br>
                        <label for="kifOssz">Mennyit:</label><br>
                        <input type="number" id="kifOssz" name="kifOssz"><br><br>
                        <label for="kifMegj">Megjegyzés:</label><br>
                        <textarea name="kifMegj" rows="10" cols="30"></textarea>
                        <br><br>
                    </form>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>

    <!-- The HACK: kosarMegnevezes -->
    <div class="modal" id="kosarMegnevezesModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Mi legyen a neve a kosárnak_</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <label for="kosarMegnevezes">Kosárnév :</label><br>
                    <input type="text" id="kosarMegnevezesId" name="kosarMegnevezes">
                    <div>
                        <!-- <button class="keyboard" id="a">a</button><button class="keyboard" id="b">b</button> -->
                        <!-- INFO: -->
                        <div class="vKeyboard-container d-flex row">

                            <div class=" vKeyboard-letters " id="vKeyboard-letters">
                                <div class="row vKeyboardRow vKeyboard-offsetRow1 justify-content-center m-1">
                                    <button type="button col" class="btn keyboard btn-primary vKeyboard-letter m-1"
                                        id="keyboard-A" value="A">A</button>
                                    <button type="button col" class="btn keyboard btn-primary vKeyboard-letter m-1"
                                        id="keyboard-Z" value="Z">Z</button>
                                    <button type="button col" class="btn keyboard btn-primary vKeyboard-letter m-1"
                                        id="keyboard-E" value="E">E</button>
                                    <button type="button col" class="btn keyboard btn-primary vKeyboard-letter m-1"
                                        id="keyboard-R" value="R">R</button>
                                    <button type="button col" class="btn keyboard btn-primary vKeyboard-letter m-1"
                                        id="keyboard-T" value="T">T</button>
                                    <button type="button col" class="btn keyboard btn-primary vKeyboard-letter m-1"
                                        id="keyboard-Y" value="Y">Y</button>
                                    <button type="button col" class="btn keyboard btn-primary vKeyboard-letter m-1"
                                        id="keyboard-U" value="U">U</button>
                                    <button type="button col" class="btn keyboard btn-primary vKeyboard-letter m-1"
                                        id="keyboard-I" value="I">I</button>
                                    <button type="button col" class="btn keyboard btn-primary vKeyboard-letter m-1"
                                        id="keyboard-O" value="O">O</button>
                                    <button type="button col" class="btn keyboard btn-primary vKeyboard-letter m-1"
                                        id="keyboard-P" value="P">P</button>
                                </div>
                                <div class="row vKeyboardRow vKeyboard-offsetRow2 justify-content-center">
                                    <button type="button col" class="btn keyboard btn-primary vKeyboard-letter m-1"
                                        id="keyboard-Q" value="Q">Q</button>
                                    <button type="button col" class="btn keyboard btn-primary vKeyboard-letter m-1"
                                        id="keyboard-S" value="S">S</button>
                                    <button type="button col" class="btn keyboard btn-primary vKeyboard-letter m-1"
                                        id="keyboard-D" value="D">D</button>
                                    <button type="button col" class="btn keyboard btn-primary vKeyboard-letter m-1"
                                        id="keyboard-F" value="F">F</button>
                                    <button type="button col" class="btn keyboard btn-primary vKeyboard-letter m-1"
                                        id="keyboard-G" value="G">G</button>
                                    <button type="button col" class="btn keyboard btn-primary vKeyboard-letter m-1"
                                        id="keyboard-H" value="H">H</button>
                                    <button type="button col" class="btn keyboard btn-primary vKeyboard-letter m-1"
                                        id="keyboard-J" value="J">J</button>
                                    <button type="button col" class="btn keyboard btn-primary vKeyboard-letter m-1"
                                        id="keyboard-K" value="K">K</button>
                                    <button type="button col" class="btn keyboard btn-primary vKeyboard-letter m-1"
                                        id="keyboard-L" value="L">L</button>
                                    <button type="button col" class="btn keyboard btn-primary vKeyboard-letter m-1"
                                        id="keyboard-M" value="M">M</button>
                                </div>
                                <div class="row vKeyboardRow vKeyboard-offsetRow3 justify-content-center">
                                    <button type="button col" class="btn keyboard btn-primary vKeyboard-letter m-1"
                                        id="keyboard-W" value="W">W</button>
                                    <button type="button col" class="btn keyboard btn-primary vKeyboard-letter m-1"
                                        id="keyboard-X" value="X">X</button>
                                    <button type="button col" class="btn keyboard btn-primary vKeyboard-letter m-1"
                                        id="keyboard-C" value="C">C</button>
                                    <button type="button col" class="btn keyboard btn-primary vKeyboard-letter m-1"
                                        id="keyboard-V" value="V">V</button>
                                    <button type="button col" class="btn keyboard btn-primary vKeyboard-letter m-1"
                                        id="keyboard-B" value="B">B</button>
                                    <button type="button col" class="btn keyboard btn-primary vKeyboard-letter m-1"
                                        id="keyboard-N" value="N">N</button>
                                    <span class="vKeyboard-spacer"></span>
                                    <button type="button col" class="btn keyboard btn-primary vKeyboard-symbol m-1"
                                        id="keyboard-tiret" value="-">-</button>
                                    <button type="button col" class="btn keyboard btn-primary vKeyboard-symbol m-1"
                                        id="keyboard-underscore" value="_">_</button>
                                    <button type="button col" class="btn keyboard btn-primary vKeyboard-symbol m-1"
                                        id="keyboard-@" value="@">@</button>
                                </div>
                                <div class="row vKeyboardRow justify-content-center">
                                    <!-- INFO: -->
                                    <button type="button col"
                                        class="btn keyboard btn-primary vKeyboard-symbol vKeyboard-space"
                                        id="keyboard-space" value=" ">
                                        <span class="vKeyboard-space-character">┗━━━━━━━━━━━┛</span>
                                    </button>
                                </div>
                            </div>



                            <!-- <div class="col-1 vKeyboard-return-enter ml-auto" id="vKeyboard-enter-return">
                                <div class="row vKeyboardRow">
                                    <button type="button col"
                                        class="btn btn-primary vKeyboard-return vKeyboard-numOk vKeyboard-double"
                                        id="keyboard-return" value="">⌫</button>
                                </div>
                                <div class="row vKeyboardRow">
                                    <button type="button col" class="btn btn-primary vKeyboard-enter vKeyboard-double"
                                        disabled="disabled" id="keyboard-enter">OK</button>
                                </div>
                            </div> -->

                        </div>
                        <!-- INFO: -->

                    </div>
                    <!-- <input type="text" id="kosarMegnevezes"> -->

                    <!-- <div id="kosarMegnevezes"></div> -->
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger" data-dismiss="modal" id=""
                        onclick="kosarNevSzerintiTarolas()">Close</button>
                </div>

            </div>
        </div>
    </div>
    <!-- The HACK: kosarMegnevezes -->

    </div>



    <script src="jquery.slim.min.js"></script>
    <script src="popper.min.js"></script>
    <script src="bootstrap.bundle.min.js"></script>
    <script src="pult.js"></script>

</body>

</html>