<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Termekek</title>
    <link href="bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style-admin.css">
</head>

<body>
    <div class="container text-center">
        <br>
        <form action="/" method="get">
            <button type="submit">⚡ Vissza a menühöz ⚡ </button>
        </form>

        <form id="totalForm">
            <div class="shadow p-2 mb-1 bg-white rounded">
                <label for="nev">Termék neve:</label><br>
                <input type="text" id="nev" name="nev" required><br>
            </div>
            <div class="shadow p-2 mb-1 bg-white rounded">
                <label for="beszar">Beszerzési ár :</label><br>
                <input type="number" id="beszar" name="beszar"><br>
            </div>
            <div class="shadow p-2 mb-1 bg-white rounded">
                <label for="elar">Eladási ár :</label><br>
                <input type="number" id="elar" name="elar"><br>
            </div>
            <div class="shadow p-2 mb-1 bg-white rounded">
                <label for="leltarozando">Leltározando (i/n):</label><br>
                <input type="text" id="leltarozando" name="leltarozando" size="1" value="i"><br>
            </div>
            <div class="shadow p-2 mb-1 bg-white rounded">
                <label for="kritikus">Kritikus mennyiség :</label><br>
                <input type="number" id="kritikus" name="kritikus"><br>
            </div>
            <div class="shadow p-2 mb-1 bg-white rounded">
                <label for="gyujto">Gyüjtő mennyiség :</label><br>
                <input type="number" id="gyujto" name="gyujto"><br>
            </div>
            <div class="shadow p-2 mb-1 bg-white rounded">
                <label for="jelenlegiKeszlet">Az új termék induló készlete :</label><br>
                <input type="number" id="jelenlegiKeszlet" name="jelenlegiKeszlet"><br>
            </div>
            <div class="shadow p-2 mb-1 bg-white rounded">
                <label for="urtartalom">A termék Beszerzési űrtartalma <span style="background-color:chartreuse ;">
                        ! deciliterben ! </span> :</label><br>
                <input type="number" id="urtartalom" name="urtartalom"><br>
            </div>
            <div class="shadow p-3 mb-5 bg-white rounded">
                <fieldset>
                    <legend>A termék milyen kiszerelésű?</legend>
                    <div id="kiszerelesSelect"></div>
                </fieldset>
            </div>
            <div class="shadow p-3 mb-5 bg-white rounded">
                <fieldset>
                    <legend>A termék melyik csoportba tartozik?</legend>
                    <div id="csoportSelect"></div>
                </fieldset>
            </div>
        </form>

        <button id="newdata">Ujadat hozzáadása </button><br><br>

        <!-- Kimért termékek és a kimért mennyiség PÁROSÍTÁSA INFO: Modal INFO: -->
        <div class="modal" id="createXkimeres">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Kimérési egységek hozzárendelése a termékhez</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <div id="azonosito"></div>
                        <div id="modalKineresNev"></div>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal" onclick=""
                            id="mDataSend">Close</button>
                    </div>

                </div>
            </div>
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Neve</th>
                    <th>Beszerzési ár</th>
                </tr>
            </thead>
            <tbody id="termekek">
            </tbody>
        </table>
        <div id="adatok"></div>
    </div>
    <script src="jquery.slim.min.js"></script>
    <script src="popper.min.js"></script>
    <script src="bootstrap.bundle.min.js"></script>
    <script src="admin.js"></script>
    <script src="termekek.js"></script>
</body>

</html>