<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Termekek</title>
    <link href="bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style-admin.css">
</head>

<body>
    <div class="container text-center">
        <br>
        <form action="/" method="get">
            <button type="submit">⚡ Vissza a menühöz ⚡ </button>
        </form>

        <form action="/action_page.php">
            <!-- TODO: NOTE: INFO: NOTE: TODO: -->
            <label for="kiszereles_id">Kiszerelés neve:</label><br>
            <input type="text" id="kiszereles_id" name="kiszereles_id"><br><br>
            <!-- TODO: NOTE: INFO: NOTE: TODO: -->
            <label for="nev">Neve:</label><br>
            <input type="text" id="nev" name="nev"><br><br>
            <label for="beszar">Beszerzési ár <kbd> deciliterben !!!</kbd>:</label><br>
            <input type="number" id="beszar" name="beszar"><br><br>
            <!-- <input type="submit" value="Submit"> -->
        </form>

        <button id="newdata">Ujadat hozzáadása </button><br><br>






        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Neve</th>
                    <th>Beszerzési ár</th>
                </tr>
            </thead>
            <tbody id="termekek">



            </tbody>
        </table>

        <div id="adatok"></div>


    </div>


    <script src="jquery.slim.min.js"></script>
    <script src="popper.min.js"></script>
    <script src="bootstrap.bundle.min.js"></script>
    <script src="admin.js"></script>
    <script src="termekek.js"></script>
    <!--  <script>
        renderXkimeresnev();
    </script> -->
</body>

</html>