<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kimérés név</title> <!-- NOTE: -->
    <link href="bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style-admin.css">
</head>

<body>
    <div class="container text-center">
        <br>
        <form action="/" method="get">
            <button type="submit" class="btn btn-primary mr-4 btn-lg">⚡ Vissza a menühöz ⚡ </button>
        </form>

        <form>
            <label for="nev">Neve (feles ...):</label><br>
            <input type="text" id="nev" name="nev"><br><br>
            <label for="urtartalom">Űrtartalom <kbd> centiliterben !!!</kbd>:</label><br>
            <input type="number" id="urtartalom" name="urtartalom"><br><br>
            <button id="newdata" class="btn btn-danger mr-4 btn-lg">Ujadat hozzáadása </button><br><br>
        </form>


        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Neve</th>
                    <th>Ürtartalom (cl)</th>
                </tr>
            </thead>
            <tbody id="xkimeresdata">
            </tbody>
        </table>

        <div id="adatok"></div> <!-- NOTE: -->

    </div>
    <script src="jquery.slim.min.js"></script>
    <script src="popper.min.js"></script>
    <script src="bootstrap.bundle.min.js"></script>
    <script src="admin.js"></script>
    <script src="xkimeresnev.js"></script> <!-- NOTE: -->
</body>

</html>